:root {
  --color-1: #3498DB;
  --color-2: #6C63FF;
  --color-3: #E83350;
  --color-4: #67E6DC;
}

.error {
  color: var(--color-3);
}

img {
  width: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:focus {
  outline:0;
}

input:focus {
  outline: none;
}

.container {
  position: relative;
}

.nav {
  border-bottom: 4px solid var(--color-2);
  padding: 1% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

a {
  font-weight: bolder;
  color: #000000;
  text-decoration: none;
  font-size: larger;
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
}

a:hover {
  opacity: 1;
  color: var(--color-2);
}

.btn {
  font-size: 1.8rem;
  background-color: var(--color-2);
  border: none;
  border: 3px solid black;
  padding: 2% 4%;
  cursor: pointer;
  transition: 0.4s;
}

.btn:hover {
  background-color: #000000;
  color: var(--color-2);
}

.menu {
  font-size: larger;
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 4px;
  border: none;
  background-color: var(--color-2);
  cursor: pointer;
}

.menu:active {
  opacity: 0.8;
}

.show-nav {
  display: flex;
}

@media (max-width: 600px) {
  .nav {
    flex-direction: column;
    padding: 1% 0;
    display: none;
  }

  li {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid blueviolet;
    margin-top: 2%;
  }

  .menu {
    display: flex;
  }

  .show-nav {
    display: flex;
  }
}